@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0;
}
.toggler{
  display:none;
}
@media (max-width: 767px){
  .education{
    display:flex;
    flex-direction: column;
    align-items:center;
    
    
  }
  .education .card{
    width:300px;
    margin-bottom:15px;
  }
  .long{
    display: none;
  }
  .toggler{
    display: inline;
  }
}
